In [1]:
import pandas as pd

## 数据组合（类似于SQL join）
- concat：连接

### 一、concat 适用：行名、列名一样

In [4]:
df1 = pd.read_csv('./data/concat_1.csv')
df2 = pd.read_csv('./data/concat_2.csv')
df3 = pd.read_csv('./data/concat_3.csv')

#### 1.1 按行拼接(拼接一行、多行数据)

In [5]:
pd.concat([df1, df2, df3], axis='index')

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

#### ignore_index重新生成索引

In [9]:
pd.concat([df1, df2, df3], axis='index', ignore_index=True)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

#### 行列名匹配原则
- 拼接行时，按列名放置，如果列名不同，会出现新列，其他没有匹配的列出现nan；
- 拼接列时，按行名放置..

In [10]:
df4 = pd.DataFrame([['aa'], ['bb'], ['cc'], ['dd']], columns=['E'])
pd.concat([df4, df1, df2, df3], axis='index')

     E    A    B    C    D
0   aa  NaN  NaN  NaN  NaN
1   bb  NaN  NaN  NaN  NaN
2   cc  NaN  NaN  NaN  NaN
3   dd  NaN  NaN  NaN  NaN
0  NaN   a0   b0   c0   d0
1  NaN   a1   b1   c1   d1
2  NaN   a2   b2   c2   d2
3  NaN   a3   b3   c3   d3
0  NaN   a4   b4   c4   d4
1  NaN   a5   b5   c5   d5
2  NaN   a6   b6   c6   d6
3  NaN   a7   b7   c7   d7
0  NaN   a8   b8   c8   d8
1  NaN   a9   b9   c9   d9
2  NaN  a10  b10  c10  d10
3  NaN  a11  b11  c11  d11

#### 1.2 按列拼接(拼接一列、多列数据)

In [8]:
pd.concat([df1, df2, df3], axis='columns')

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

### 二、merge 适用：值一样

In [12]:
# 数据准备
import sqlite3 as sq
con = sq.connect('./data/chinook.db')
tracks = pd.read_sql_query("select * from tracks", con)
tracks.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

In [13]:
genres = pd.read_sql_query("select * from genres", con)
genres.head()

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll

In [14]:
# 取出部分行
tracks_subset = tracks.loc[[0, 62, 76, 98, 110, 193, 204, 281, 322, 359],]
tracks_subset

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
62,63,Desafinado,8,1,2,None,185338,5990473,0.99
76,77,Enter Sandman,9,1,3,Apocalyptica,221701,7286305,0.99
98,99,Your Time Has Come,11,1,4,"Cornell, Commerford, Morello, Wilk",255529,8273592,0.99
110,111,Money,12,1,5,"Berry Gordy, Jr./Janie Bradford",147591,2365897,0.99
193,194,First Time I Met The Blues,20,1,6,Eurreal Montgomery,140434,4604995,0.99
204,205,Jorge Da Capadócia,21,1,7,Jorge Ben,177397,5842196,0.99
281,282,Girassol,26,1,8,Bino Farias/Da Gama/Lazão/Pedro Luis/Toni Garrido,249808,8327676,0.99
322,323,"Dig-Dig, Lambe-Lambe (Ao Vivo)",29,1,9,Cassiano Costa/Cintia Maviane/J.F./Lucas Costa,205479,6892516,0.99
359,360,Vai-Vai 2001,32,1,10,None,276349,9402241,0.99

#### 1、参数how，决定连接方式
- inner 交集
- outer 并集
- left 左外链接
- right 右外链接

##### 1.1、inner（交集）

In [16]:
genres.merge(tracks_subset, how='inner', on='GenreId')

,GenreId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1,Rock,1,For Those About To Rock (We Salute You),1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Jazz,63,Desafinado,8,1,None,185338,5990473,0.99
2,3,Metal,77,Enter Sandman,9,1,Apocalyptica,221701,7286305,0.99
3,4,Alternative & Punk,99,Your Time Has Come,11,1,"Cornell, Commerford, Morello, Wilk",255529,8273592,0.99
4,5,Rock And Roll,111,Money,12,1,"Berry Gordy, Jr./Janie Bradford",147591,2365897,0.99
5,6,Blues,194,First Time I Met The Blues,20,1,Eurreal Montgomery,140434,4604995,0.99
6,7,Latin,205,Jorge Da Capadócia,21,1,Jorge Ben,177397,5842196,0.99
7,8,Reggae,282,Girassol,26,1,Bino Farias/Da Gama/Lazão/Pedro Luis/Toni Garrido,249808,8327676,0.99
8,9,Pop,323,"Dig-Dig, Lambe-Lambe (Ao Vivo)",29,1,Cassiano Costa/Cintia Maviane/J.F./Lucas Costa,205479,6892516,0.99
9,10,Soundtrack,360,Vai-Vai 2001,32,1,None,276349,9402241,0.99

##### 1.2、outer（交集）

In [17]:
genres.merge(tracks_subset, how='outer', on='GenreId')

,GenreId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1,Rock,1.0,For Those About To Rock (We Salute You),1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",343719.0,11170334.0,0.99
1,2,Jazz,63.0,Desafinado,8.0,1.0,None,185338.0,5990473.0,0.99
2,3,Metal,77.0,Enter Sandman,9.0,1.0,Apocalyptica,221701.0,7286305.0,0.99
3,4,Alternative & Punk,99.0,Your Time Has Come,11.0,1.0,"Cornell, Commerford, Morello, Wilk",255529.0,8273592.0,0.99
4,5,Rock And Roll,111.0,Money,12.0,1.0,"Berry Gordy, Jr./Janie Bradford",147591.0,2365897.0,0.99
5,6,Blues,194.0,First Time I Met The Blues,20.0,1.0,Eurreal Montgomery,140434.0,4604995.0,0.99
6,7,Latin,205.0,Jorge Da Capadócia,21.0,1.0,Jorge Ben,177397.0,5842196.0,0.99
7,8,Reggae,282.0,Girassol,26.0,1.0,Bino Farias/Da Gama/Lazão/Pedro Luis/Toni Garrido,249808.0,8327676.0,0.99
8,9,Pop,323.0,"Dig-Dig, Lambe-Lambe (Ao Vivo)",29.0,1.0,Cassiano Costa/Cintia Maviane/J.F./Lucas Costa,205479.0,6892516.0,0.99
9,10,Soundtrack,360.0,Vai-Vai 2001,32.0,1.0,None,276349.0,9402241.0,0.99
10,11,Bossa Nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Easy Listening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Heavy Metal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,R&B/Soul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Electronica/Dance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Hip Hop/Rap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Science Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,TV Shows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,Sci Fi & Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Alternative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,Classical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,Opera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 1.3、left (左外链接)

In [19]:
genres.merge(tracks_subset, how='left', on='GenreId')

,GenreId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1,Rock,1.0,For Those About To Rock (We Salute You),1.0,1.0,"Angus Young, Malcolm Young, Brian Johnson",343719.0,11170334.0,0.99
1,2,Jazz,63.0,Desafinado,8.0,1.0,None,185338.0,5990473.0,0.99
2,3,Metal,77.0,Enter Sandman,9.0,1.0,Apocalyptica,221701.0,7286305.0,0.99
3,4,Alternative & Punk,99.0,Your Time Has Come,11.0,1.0,"Cornell, Commerford, Morello, Wilk",255529.0,8273592.0,0.99
4,5,Rock And Roll,111.0,Money,12.0,1.0,"Berry Gordy, Jr./Janie Bradford",147591.0,2365897.0,0.99
5,6,Blues,194.0,First Time I Met The Blues,20.0,1.0,Eurreal Montgomery,140434.0,4604995.0,0.99
6,7,Latin,205.0,Jorge Da Capadócia,21.0,1.0,Jorge Ben,177397.0,5842196.0,0.99
7,8,Reggae,282.0,Girassol,26.0,1.0,Bino Farias/Da Gama/Lazão/Pedro Luis/Toni Garrido,249808.0,8327676.0,0.99
8,9,Pop,323.0,"Dig-Dig, Lambe-Lambe (Ao Vivo)",29.0,1.0,Cassiano Costa/Cintia Maviane/J.F./Lucas Costa,205479.0,6892516.0,0.99
9,10,Soundtrack,360.0,Vai-Vai 2001,32.0,1.0,None,276349.0,9402241.0,0.99
10,11,Bossa Nova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Easy Listening,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Heavy Metal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,R&B/Soul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Electronica/Dance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Hip Hop/Rap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Science Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,TV Shows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,Sci Fi & Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Alternative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,Classical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,Opera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 1.4、right (右外链接)

In [20]:
genres.merge(tracks_subset, how='right', on='GenreId')

,GenreId,Name_x,TrackId,Name_y,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1,Rock,1,For Those About To Rock (We Salute You),1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Jazz,63,Desafinado,8,1,None,185338,5990473,0.99
2,3,Metal,77,Enter Sandman,9,1,Apocalyptica,221701,7286305,0.99
3,4,Alternative & Punk,99,Your Time Has Come,11,1,"Cornell, Commerford, Morello, Wilk",255529,8273592,0.99
4,5,Rock And Roll,111,Money,12,1,"Berry Gordy, Jr./Janie Bradford",147591,2365897,0.99
5,6,Blues,194,First Time I Met The Blues,20,1,Eurreal Montgomery,140434,4604995,0.99
6,7,Latin,205,Jorge Da Capadócia,21,1,Jorge Ben,177397,5842196,0.99
7,8,Reggae,282,Girassol,26,1,Bino Farias/Da Gama/Lazão/Pedro Luis/Toni Garrido,249808,8327676,0.99
8,9,Pop,323,"Dig-Dig, Lambe-Lambe (Ao Vivo)",29,1,Cassiano Costa/Cintia Maviane/J.F./Lucas Costa,205479,6892516,0.99
9,10,Soundtrack,360,Vai-Vai 2001,32,1,None,276349,9402241,0.99

#### 2、参数on，连接的key，可以是[]
- 如果左右字段名字不同，使用left_on,right_on指定左右表分别使用的字段

#### 3、suffixes后缀, 如果左右表存在同名列，合并后会拼接后缀用于区分，默认拼接_x,_y. 修改的话传入元组

In [22]:
genres.merge(tracks_subset, how='right', on='GenreId', suffixes=('_gen', '_track'))

,GenreId,Name_gen,TrackId,Name_track,AlbumId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1,Rock,1,For Those About To Rock (We Salute You),1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Jazz,63,Desafinado,8,1,None,185338,5990473,0.99
2,3,Metal,77,Enter Sandman,9,1,Apocalyptica,221701,7286305,0.99
3,4,Alternative & Punk,99,Your Time Has Come,11,1,"Cornell, Commerford, Morello, Wilk",255529,8273592,0.99
4,5,Rock And Roll,111,Money,12,1,"Berry Gordy, Jr./Janie Bradford",147591,2365897,0.99
5,6,Blues,194,First Time I Met The Blues,20,1,Eurreal Montgomery,140434,4604995,0.99
6,7,Latin,205,Jorge Da Capadócia,21,1,Jorge Ben,177397,5842196,0.99
7,8,Reggae,282,Girassol,26,1,Bino Farias/Da Gama/Lazão/Pedro Luis/Toni Garrido,249808,8327676,0.99
8,9,Pop,323,"Dig-Dig, Lambe-Lambe (Ao Vivo)",29,1,Cassiano Costa/Cintia Maviane/J.F./Lucas Costa,205479,6892516,0.99
9,10,Soundtrack,360,Vai-Vai 2001,32,1,None,276349,9402241,0.99

### 三、join 合并

In [23]:
st16 = pd.read_csv('./data/stocks_2016.csv')
st17 = pd.read_csv('./data/stocks_2017.csv')
st18 = pd.read_csv('./data/stocks_2018.csv')

#### 1、用法一：类似merge用法(只能拼接列，不能拼接行)

##### 特殊参数：lsuffix、rsuffix如果存在同名列，需要指定左右后缀

In [24]:
st16.join(st17, lsuffix='_2016', rsuffix='_2017')

,Symbol_2016,Shares_2016,Low_2016,High_2016,Symbol_2017,Shares_2017,Low_2017,High_2017
0,AAPL,80,95,110,AAPL,50,120,140
1,TSLA,50,80,130,GE,100,30,40
2,WMT,40,55,70,IBM,87,75,95

#### 2、用法二: 想用某列作为匹配，（默认是用index匹配）
**解释：如下案例，想要看同一公司的不同表数据，需要按公司维度拼接数据；所以想要是用公司名列匹配**

In [27]:
st16.join(st18.set_index('Symbol'), lsuffix='_2016', rsuffix='_2018', on='Symbol')

  Symbol  Shares_2016  Low_2016  High_2016  Shares_2018  Low_2018  High_2018
0   AAPL           80        95        110         40.0     135.0      170.0
1   TSLA           50        80        130         50.0     220.0      400.0
2    WMT           40        55         70          NaN       NaN        NaN