In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sq

In [2]:
pwd

'/home/duchao/project/learn_notebook/jupyter_demo/Pandas/练习'

一共6张表, 关联查询, 回答以下问题
- 找到数据集中数字媒体(音乐/视频)销量的top 10 (tracks 中每一条记录就是一个数字媒体)
- 找到艺术家销量的top10 (artists 表中 每一条记录对应一个艺术家)
- 找到最高产的艺术家top5
- 找到哪一种类型的数字媒体产品最受欢迎 (数字媒体类型 对应genres表 一共25种类型)
- 统计账单地址是美国的用户最喜欢的歌手和媒体类型
- 统计每个国家下单数量最多/下单金额最高的用户
- 统计每一张表中的缺失值数量
- 如果数据中包含数值类型的缺失值用均值填充, 如果包含类别型变量的缺失值用众数填充

In [3]:
con = sq.connect('../data/chinook.db')
tracks = pd.read_sql_query('SELECT * FROM tracks',con)
artists = pd.read_sql_query('SELECT * FROM artists',con)
customer = pd.read_sql_query('SELECT * FROM Customers',con)
album = pd.read_sql_query('SELECT * FROM albums',con)
invoice = pd.read_sql_query('select * from invoices', con)
invoice_items = pd.read_sql_query('select * from invoice_items', con)
genres = pd.read_sql_query('select * from genres', con)
medias = pd.read_sql_query('select * from media_types', con)
employees = pd.read_sql_query('select * from employees', con)

In [4]:
invoice_items

      InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0                 1          1        2       0.99         1
1                 2          1        4       0.99         1
2                 3          2        6       0.99         1
3                 4          2        8       0.99         1
4                 5          2       10       0.99         1
5                 6          2       12       0.99         1
6                 7          3       16       0.99         1
7                 8          3       20       0.99         1
8                 9          3       24       0.99         1
9                10          3       28       0.99         1
10               11          3       32       0.99         1
11               12          3       36       0.99         1
12               13          4       42       0.99         1
13               14          4       48       0.99         1
14               15          4       54       0.99         1
15               16          4       60       0.99         1
16               17          4       66       0.99         1
17               18          4       72       0.99         1
18               19          4       78       0.99         1
19               20          4       84       0.99         1
20               21          4       90       0.99         1
21               22          5       99       0.99         1
22               23          5      108       0.99         1
23               24          5      117       0.99         1
24               25          5      126       0.99         1
25               26          5      135       0.99         1
26               27          5      144       0.99         1
27               28          5      153       0.99         1
28               29          5      162       0.99         1
29               30          5      171       0.99         1
...             ...        ...      ...        ...       ...
2210           2211        409     2963       0.99         1
2211           2212        409     2967       0.99         1
2212           2213        409     2971       0.99         1
2213           2214        409     2975       0.99         1
2214           2215        409     2979       0.99         1
2215           2216        409     2983       0.99         1
2216           2217        410     2989       0.99         1
2217           2218        410     2995       0.99         1
2218           2219        410     3001       0.99         1
2219           2220        410     3007       0.99         1
2220           2221        410     3013       0.99         1
2221           2222        410     3019       0.99         1
2222           2223        410     3025       0.99         1
2223           2224        410     3031       0.99         1
2224           2225        410     3037       0.99         1
2225           2226        411     3046       0.99         1
2226           2227        411     3055       0.99         1
2227           2228        411     3064       0.99         1
2228           2229        411     3073       0.99         1
2229           2230        411     3082       0.99         1
2230           2231        411     3091       0.99         1
2231           2232        411     3100       0.99         1
2232           2233        411     3109       0.99         1
2233           2234        411     3118       0.99         1
2234           2235        411     3127       0.99         1
2235           2236        411     3136       0.99         1
2236           2237        411     3145       0.99         1
2237           2238        411     3154       0.99         1
2238           2239        411     3163       0.99         1
2239           2240        412     3177       1.99         1

[2240 rows x 5 columns]

In [5]:
tracks['TrackId'].unique()

array([   1,    2,    3, ..., 3501, 3502, 3503])

In [6]:
artists.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [7]:
customer.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [8]:
album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
5          6                                 Jagged Little Pill         4
6          7                                           Facelift         5
7          8                                     Warner 25 Anos         6
8          9                     Plays Metallica By Four Cellos         7
9         10                                         Audioslave         8
10        11                                       Out Of Exile         8
11        12                                BackBeat Soundtrack         9
12        13                           The Best Of Billy Cobham        10
13        14           Alcohol Fueled Brewtality Live! [Disc 1]        11
14        15           Alcohol Fueled Brewtality Live! [Disc 2]        11
15        16                                      Black Sabbath        12
16        17                    Black Sabbath Vol. 4 (Remaster)        12
17        18                                         Body Count        13
18        19                                   Chemical Wedding        14
19        20   The Best Of Buddy Guy - The Millenium Collection        15
20        21                                       Prenda Minha        16
21        22                              Sozinho Remix Ao Vivo        16
22        23                                     Minha Historia        17
23        24                                     Afrociberdelia        18
24        25                                    Da Lama Ao Caos        18
25        26                                Acústico MTV [Live]        19
26        27                                Cidade Negra - Hits        19
27        28                                           Na Pista        20
28        29                                     Axé Bahia 2001        21
29        30                       BBC Sessions [Disc 1] [Live]        22
..       ...                                                ...       ...
317      318                           SCRIABIN: Vers la flamme       250
318      319  Armada: Music from the Courts of England and S...       251
319      320                    Mozart: Symphonies Nos. 40 & 41       248
320      321                                      Back to Black       252
321      322                                              Frank       252
322      323              Carried to Dust (Bonus Track Version)       253
323      324          Beethoven: Symphony No. 6 'Pastoral' Etc.       254
324      325                   Bartok: Violin & Viola Concertos       255
325      326             Mendelssohn: A Midsummer Night's Dream       256
326      327                 Bach: Orchestral Suites Nos. 1 - 4       257
327      328      Charpentier: Divertissements, Airs & Concerts       258
328      329                             South American Getaway       259
329      330                            Górecki: Symphony No. 3       260
330      331                           Purcell: The Fairy Queen       261
331      332                      The Ultimate Relexation Album       262
332      333                  Purcell: Music for the Queen Mary       263
333      334                       Weill: The Seven Deadly Sins       264
334      335  J.S. Bach: Chaconne, Suite in E Minor, Partita...       265
335      336  Prokofiev: Symphony No.5 & Stravinksy: Le Sacr...       248
336      337                   Szymanowski: Piano Works, Vol. 1       266
337      338                        Nielsen: The Six Symphonies       267
338      339  Great Recordings of the Century: Paganini's 24...       268
339      340        Liszt - 12 Études D'Execution Transcendante       269
340      341  Great Recordings of the Century - Shubert: Sch...       270
341      342  Locatelli: Concertos for Violin, Strings and C...       271
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [9]:
invoice_items

      InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0                 1          1        2       0.99         1
1                 2          1        4       0.99         1
2                 3          2        6       0.99         1
3                 4          2        8       0.99         1
4                 5          2       10       0.99         1
5                 6          2       12       0.99         1
6                 7          3       16       0.99         1
7                 8          3       20       0.99         1
8                 9          3       24       0.99         1
9                10          3       28       0.99         1
10               11          3       32       0.99         1
11               12          3       36       0.99         1
12               13          4       42       0.99         1
13               14          4       48       0.99         1
14               15          4       54       0.99         1
15               16          4       60       0.99         1
16               17          4       66       0.99         1
17               18          4       72       0.99         1
18               19          4       78       0.99         1
19               20          4       84       0.99         1
20               21          4       90       0.99         1
21               22          5       99       0.99         1
22               23          5      108       0.99         1
23               24          5      117       0.99         1
24               25          5      126       0.99         1
25               26          5      135       0.99         1
26               27          5      144       0.99         1
27               28          5      153       0.99         1
28               29          5      162       0.99         1
29               30          5      171       0.99         1
...             ...        ...      ...        ...       ...
2210           2211        409     2963       0.99         1
2211           2212        409     2967       0.99         1
2212           2213        409     2971       0.99         1
2213           2214        409     2975       0.99         1
2214           2215        409     2979       0.99         1
2215           2216        409     2983       0.99         1
2216           2217        410     2989       0.99         1
2217           2218        410     2995       0.99         1
2218           2219        410     3001       0.99         1
2219           2220        410     3007       0.99         1
2220           2221        410     3013       0.99         1
2221           2222        410     3019       0.99         1
2222           2223        410     3025       0.99         1
2223           2224        410     3031       0.99         1
2224           2225        410     3037       0.99         1
2225           2226        411     3046       0.99         1
2226           2227        411     3055       0.99         1
2227           2228        411     3064       0.99         1
2228           2229        411     3073       0.99         1
2229           2230        411     3082       0.99         1
2230           2231        411     3091       0.99         1
2231           2232        411     3100       0.99         1
2232           2233        411     3109       0.99         1
2233           2234        411     3118       0.99         1
2234           2235        411     3127       0.99         1
2235           2236        411     3136       0.99         1
2236           2237        411     3145       0.99         1
2237           2238        411     3154       0.99         1
2238           2239        411     3163       0.99         1
2239           2240        412     3177       1.99         1

[2240 rows x 5 columns]

In [10]:
invoice.head()

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86

In [11]:
invoice_items.head()

   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1
2              3          2        6       0.99         1
3              4          2        8       0.99         1
4              5          2       10       0.99         1

In [12]:
genres.head()

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll

In [13]:
tracks['MediaTypeId'].value_counts()

1    3034
2     237
3     214
5      11
4       7
Name: MediaTypeId, dtype: int64

In [14]:
# 找到数据集中数字媒体(音乐/视频)销量的top 10 (tracks 中每一条记录就是一个数字媒体)
# 销量：invoice_item的数量
# 数字媒体：trackID 已此分组
# 聚合求每组数量count
# top10: 排序，倒序

In [15]:
# 合并
itm_tb = invoice_items.merge(tracks, on='TrackId')

# 分组聚合
count_itm = itm_tb.groupby('TrackId')['TrackId'].count()

# 排序
count_itm.sort_values(ascending=False).head(10)

TrackId
3500    2
705     2
393     2
3024    2
3025    2
1090    2
704     2
1344    2
1922    2
1089    2
Name: TrackId, dtype: int64

In [16]:
# 找到艺术家销量的top10 (artists 表中 每一条记录对应一个艺术家)
# 销量：invoice_item的数量
# 艺术家： artists name
# 聚合求每组数量count
# top10: 排序，倒序

In [17]:
# 合并
itaar_tb = invoice_items.merge(tracks, on='TrackId').merge(album, on='AlbumId').merge(artists, on='ArtistId', suffixes=('_x', '_art'))

# 分组聚合
count_itaar_tb = itaar_tb.groupby('Name_art')['ArtistId'].count()

# 排序取值
count_itaar_tb.sort_values(ascending=False).head(10)

Name_art
Iron Maiden                140
U2                         107
Metallica                   91
Led Zeppelin                87
Os Paralamas Do Sucesso     45
Deep Purple                 44
Faith No More               42
Lost                        41
Eric Clapton                40
R.E.M.                      39
Name: ArtistId, dtype: int64

In [18]:
# 找到最高产的艺术家top5
# 需求分析：最高产= 按artists_id分组tracks，统计总量，排序取前5

In [19]:
# 合并三表
taar_tb = tracks.merge(album, on='AlbumId').merge(artists, on='ArtistId', suffixes=('_x', '_art'))
# 分组 聚合获取数量
count_map = taar_tb.groupby('Name_art')['TrackId'].count()
# 排序截取
count_map.sort_values(ascending=False).iloc[:5]

Name_art
Iron Maiden     213
U2              135
Led Zeppelin    114
Metallica       112
Deep Purple      92
Name: TrackId, dtype: int64

In [20]:
# 找到哪一种类型的数字媒体产品最受欢迎 (数字媒体类型 对应genres表 一共25种类型)
# 最受欢迎：顾客最多，invoices 中 customerId 的数量
# 数字媒体产品类型：genres name
# 分组：genres 聚合：customerId 的数量 要去重
# 排序

In [21]:
# 合并
itg_tb = invoice.merge(invoice_items, on='InvoiceId').merge(tracks, on='TrackId').merge(genres, on='GenreId', suffixes=('_x', '_gen'))

# 分组聚合
count_itg_tb = itg_tb.groupby('Name_gen')['CustomerId'].nunique()

# 排序取值
count_itg_tb.sort_values(ascending=False).head(1)

Name_gen
Rock    59
Name: CustomerId, dtype: int64

In [22]:
# 统计账单地址是美国的用户最喜欢的歌手和媒体类型
# 账单地址是美国的用户: customers['Country'] = us  过滤数据
# 最喜欢: invoices CustomerId 去重后的数量
# 歌手：artists name
# 媒体类型： genres name
# 分组 artists + genres，聚合，count
# 排序

In [23]:
# 合并
result = customer.merge(invoice, on='CustomerId').merge(invoice_items, on='InvoiceId').merge(tracks, on='TrackId').merge(genres, on='GenreId', suffixes=('_track', '_genre')).merge(album, on='AlbumId').merge(artists, on='ArtistId', suffixes=('', '_artist'))

# 过滤
result = result[result['Country'] == 'USA']

result.columns

Index(['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City',
       'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email',
       'SupportRepId', 'InvoiceId', 'InvoiceDate', 'BillingAddress',
       'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode',
       'Total', 'InvoiceLineId', 'TrackId', 'UnitPrice_x', 'Quantity',
       'Name_track', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer',
       'Milliseconds', 'Bytes', 'UnitPrice_y', 'Name_genre', 'Title',
       'ArtistId', 'Name'],
      dtype='object')

In [24]:
# 分组聚合
result_uni = result.groupby(['Name_genre', 'Name'])['CustomerId'].nunique()
# 排序取值
result_uni.sort_values(ascending=False).head(1)

Name_genre  Name
Rock        U2      8
Name: CustomerId, dtype: int64

In [25]:
# 统计每个国家下单数量最多/下单金额最高的用户
# 确定所需合并表 customers invoices invoice_items
# 每个国家：country分组
# 下单数量最多：分组count最多
# 下单金额最高：invoices total sum 最大

In [26]:
# 合并
iic = invoice_items.merge(invoice, on='InvoiceId').merge(customer, on='CustomerId')

# 分组聚合
result_iic = iic.groupby('Country')['InvoiceId', 'Total'].agg({'InvoiceId':'count', 'Total':'sum'})

# 排序取值
max_order_size = result_iic.sort_values(by=['InvoiceId','Total'], ascending=False).head(1)
max_order_size

         InvoiceId    Total
Country
USA            494  4667.06

In [27]:
# 统计每一张表中的缺失值数量
# 获取缺失数量 df.isnull().sum()

In [28]:
tracks.isnull().sum().sort_values(ascending=False)

Composer        978
UnitPrice         0
Bytes             0
Milliseconds      0
GenreId           0
MediaTypeId       0
AlbumId           0
Name              0
TrackId           0
dtype: int64

In [29]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3503 entries, 0 to 3502
Data columns (total 9 columns):
TrackId         3503 non-null int64
Name            3503 non-null object
AlbumId         3503 non-null int64
MediaTypeId     3503 non-null int64
GenreId         3503 non-null int64
Composer        2525 non-null object
Milliseconds    3503 non-null int64
Bytes           3503 non-null int64
UnitPrice       3503 non-null float64
dtypes: float64(1), int64(6), object(2)
memory usage: 246.4+ KB

In [30]:
# 如果数据中包含数值类型的缺失值用均值填充, 如果包含类别型变量的缺失值用众数填充

In [31]:
tracks.fillna(tracks['Composer'].mode())

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
10,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
11,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
12,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
13,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99
14,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99
15,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99
16,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99
17,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99
18,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99
19,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99
20,21,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99
21,22,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99
22,23,Walk On Water,5,1,1,"Steven Tyler, Joe Perry, Jack Blades, Tommy Shaw",295680,9719579,0.99
23,24,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99
24,25,Rag Doll,5,1,1,"Steven Tyler, Joe Perry, Jim Vallance, Holly K...",264698,8675345,0.99
25,26,What It Takes,5,1,1,"Steven Tyler, Joe Perry, Desmond Child",310622,10144730,0.99
26,27,Dude (Looks Like A Lady),5,1,1,"Steven Tyler, Joe Perry, Desmond Child",264855,8679940,0.99
27,28,Janie's Got A Gun,5,1,1,"Steven Tyler, Tom Hamilton",330736,10869391,0.99
28,29,Cryin',5,1,1,"Steven Tyler, Joe Perry, Taylor Rhodes",309263,10056995,0.99
29,30,Amazing,5,1,1,"Steven Tyler, Richie Supa",356519,11616195,0.99
...,...,...,...,...,...,...,...,...,...
3473,3474,October Song,322,2,9,Matt Rowe & Stefan Skarbek,204846,3358125,0.99
3474,3475,What Is It About Men,322,2,9,"Delroy ""Chris"" Cooper, Donovan Jackson, Earl C...",209573,3426106,0.99
3475,3476,Help Yourself,322,2,9,"Freddy James, Jimmy hogarth & Larry Stock",300884,5029266,0.99
3476,3477,Amy Amy Amy (Outro),322,2,9,"Astor Campbell, Delroy ""Chris"" Cooper, Donovan...",663426,10564704,0.99
3477,3478,Slowness,323,2,23,None,215386,3644793,0.99
3478,3479,"Prometheus Overture, Op. 43",324,4,24,Ludwig van Beethoven,339567,10887931,0.99
3479,3480,Sonata for Solo Violin: IV: Presto,325,4,24,Béla Bartók,299350,9785346,0.99
3480,3481,"A Midsummer Night's Dream, Op.61 Incidental Mu...",326,2,24,None,387826,6497867,0.99
3481,3482,"Suite No. 3 in D, BWV 1068: III. Gavotte I & II",327,2,24,Johann Sebastian Bach,225933,3847164,0.99
3482,3483,"Concert pour 4 Parties de V**les, H. 545: I. P...",328,2,24,Marc-Antoine Charpentier,110266,1973559,0.99
3483,3484,Adios nonino,329,2,24,Astor Piazzolla,289388,4781384,0.99
3484,3485,Symphony No. 3 Op. 36 for Orchestra and Sopran...,330,2,24,Henryk Górecki,567494,9273123,0.99
3485,3486,"Act IV, Symphony",331,2,24,Henry Purcell,364296,5987695,0.99
3486,3487,"3 Gymnopédies: No.1 - Lent Et Grave, No.3 - Le...",332,2,24,Erik Satie,385506,6458501,0.99
3487,3488,"Music for the Funeral of Queen Mary: VI. ""Thou...",333,2,24,Henry Purcell,142081,2365930,0.99
3488,3489,Symphony No. 2: III. Allegro vivace,334,2,24,Kurt Weill,376510,6129146,0.99
3489,3490,"Partita in E Major, BWV 1006A: I. Prelude",335,2,24,Johann Sebastian Bach,285673,4744929,0.99
3490,3491,Le Sacre Du Printemps: I.iv. Spring Rounds,336,2,24,Igor Stravinsky,234746,4072205,0.99
3491,3492,Sing Joyfully,314,2,24,William Byrd,133768,2256484,0.99
3492,3493,"Metopes, Op. 29: Calypso",337,2,24,Karol Szymanowski,333669,5548755,0.99
3493,3494,"Symphony No. 2, Op. 16 - ""The Four Temperamen...",338,2,24,Carl Nielsen,286998,4834785,0.99
3494,3495,"24 Caprices, Op. 1, No. 24, for Solo Violin, i...",339,2,24,Niccolò Paganini,265541,4371533,0.99
3495,3496,"Étude 1, In C Major - Preludio (Presto) - Liszt",340,4,24,None,51780,2229617,0.99
3496,3497,"Erlkonig, D.328",341,2,24,None,261849,4307907,0.99
3497,3498,"Concerto for Violin, Strings and Continuo in G...",342,4,24,Pietro Antonio Locatelli,493573,16454937,0.99
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [32]:
invoice.isnull().sum().sort_values(ascending=False)

BillingState         202
BillingPostalCode     28
Total                  0
BillingCountry         0
BillingCity            0
BillingAddress         0
InvoiceDate            0
CustomerId             0
InvoiceId              0
dtype: int64

In [33]:
invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 9 columns):
InvoiceId            412 non-null int64
CustomerId           412 non-null int64
InvoiceDate          412 non-null object
BillingAddress       412 non-null object
BillingCity          412 non-null object
BillingState         210 non-null object
BillingCountry       412 non-null object
BillingPostalCode    384 non-null object
Total                412 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 29.0+ KB

In [34]:
invoice_items.isnull().sum().sort_values(ascending=False)

Quantity         0
UnitPrice        0
TrackId          0
InvoiceId        0
InvoiceLineId    0
dtype: int64

In [35]:
employees.isnull().sum().sort_values(ascending=False)

ReportsTo     1
Email         0
Fax           0
Phone         0
PostalCode    0
Country       0
State         0
City          0
Address       0
HireDate      0
BirthDate     0
Title         0
FirstName     0
LastName      0
EmployeeId    0
dtype: int64

In [36]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
EmployeeId    8 non-null int64
LastName      8 non-null object
FirstName     8 non-null object
Title         8 non-null object
ReportsTo     7 non-null float64
BirthDate     8 non-null object
HireDate      8 non-null object
Address       8 non-null object
City          8 non-null object
State         8 non-null object
Country       8 non-null object
PostalCode    8 non-null object
Phone         8 non-null object
Fax           8 non-null object
Email         8 non-null object
dtypes: float64(1), int64(1), object(13)
memory usage: 1.0+ KB

In [37]:
employees.fillna(employees['ReportsTo'].mean(), inplace=True)

In [38]:
employees.isnull().sum().sort_values(ascending=False)

Email         0
Fax           0
Phone         0
PostalCode    0
Country       0
State         0
City          0
Address       0
HireDate      0
BirthDate     0
ReportsTo     0
Title         0
FirstName     0
LastName      0
EmployeeId    0
dtype: int64