In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 1、将下面的字典创建为DF

In [3]:
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,7,10]}

In [4]:
df = pd.DataFrame(data)
df

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [5]:
# 2.提取含有字符串"Python"的行

In [6]:
df[df['grammer'] == 'Python']

  grammer  score
0  Python    1.0
7  Python   10.0

In [7]:
# 3.输出df的所有列名

In [8]:
df.columns

Index(['grammer', 'score'], dtype='object')

In [9]:
# 4.修改第二列列名为'popularity'

In [10]:
# 列数较少情况使用
df.columns = ['grammer', 'popularity']
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [11]:
# 修改列数将少时使用
# df['popularity'] = df['grammer']
# df.drop(columns='grammer')
# df

In [12]:
# 修改数量较大，列数较多时使用
# columns_list = df.columns.to_list()
# columns_list[1] = 'popularity'
# df.columns = columns_list
# df

In [13]:
# 5.统计grammer列中每种编程语言出现的次数

In [14]:
# 我自己的low思维！！！！
df.groupby(['grammer'])['grammer'].size()

grammer
C         1
GO        1
Java      1
PHP       1
Python    2
SQL       1
Name: grammer, dtype: int64

#### value_counts(subest=,normalize=,sort=,ascending=,dropna=) 统计值的数量
- subest：单个、list，统计值的列名
- normalize：返回占比，默认false
- sort: 排序，默认True
- ascending：正序，默认false
- dropna：删除空nan，默认true

In [15]:
df.value_counts(subset=['grammer'])

grammer
Python     2
C          1
GO         1
Java       1
PHP        1
SQL        1
dtype: int64

In [16]:
# 6.将空值用上下值的平均值填充

### fillna(value, method, axis, inplace, limit, downcast) 向空值位置填充
- value：填充的数据
- method: {backfill、bfill、ffill、None} 未知
- axis: 0行 1列
- inplace: 原数据替换, 默认false
- limit: 最多填充数, 默认None，不限制
- downcast:

### mean(axis, skipna, numeric_only) 求平均值
- axis: 0行 1列
- skipna: 跳过Nan， 默认True
- numeric_only： 仅包括数字类型（float、int、boolean）默认False

### interpolate(method, axis, limit, inplace, limit_direnction, limit_area, downcast) 获取插值，一般用来填充nan
- method： 方式，默认线性

In [17]:
interpolate_value = df['popularity'].interpolate()
interpolate_value
filled = df['popularity'].fillna(interpolate_value)
df['popularity'] = filled
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [18]:
# 7.提取popularity列中值大于3的行

In [19]:
df[df['popularity']>3]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [20]:
# 8.按照grammer列进行去除重复值

In [21]:
df.drop_duplicates(subset=['grammer'])

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0

In [22]:
# 9.计算popularity列平均值

In [23]:
df['popularity'].mean()

4.75

In [24]:
# 10.将grammer列转换为list

In [25]:
df['grammer'].to_list()

['Python', 'C', 'Java', 'GO', nan, 'SQL', 'PHP', 'Python']

In [26]:
# 11.将DataFrame保存为EXCEL

In [27]:
mkdir outputdir

mkdir: outputdir: File exists

In [28]:
df.to_excel('./outputdir/df.xlsx')

In [29]:
# 12.查看数据行列数

In [30]:
print(f'row = {df.index}, col = {df.columns}')

row = RangeIndex(start=0, stop=8, step=1), col = Index(['grammer', 'popularity'], dtype='object')

In [31]:
# 13.提取popularity列值大于3小于7的行

In [32]:
df.query('popularity > 3 & popularity < 7')

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0

In [33]:
# 14.交换两列位置

In [34]:
df = df[df.columns[[1, 0]]]
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [35]:
# 15.提取popularity列最大值所在行

In [36]:
df[df['popularity'] == df['popularity'].max()]

   popularity grammer
7        10.0  Python

In [37]:
# 16.查看最后5行数据

In [38]:
df.tail()

   popularity grammer
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [39]:
# 17.删除最后一行数据

In [40]:
df.drop([df.shape[0] - 1], inplace=True)
df

/var/folders/b4/glz9zwj572q15bxbv_pxjymm0000gn/T/ipykernel_2367/926393656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop([df.shape[0] - 1], inplace=True)

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP

In [41]:
# 18.添加一行数据['Perl',6.6]

### concat(objs, ignore_index) 拼接数据
- ignore_index: 或略行，默认False

In [42]:
row = pd.Series({'grammer':'Perl', 'popularity':6.6}).to_frame().T
print(type(row))
df = pd.concat([df, row], ignore_index=True)
df

<class 'pandas.core.frame.DataFrame'>

  popularity grammer
0        1.0  Python
1        2.0       C
2        3.0    Java
3        4.0      GO
4        5.0     NaN
5        6.0     SQL
6        7.0     PHP
7        6.6    Perl

In [43]:
# 19.对数据按照"popularity"列值的大小进行排序

### sort_values(axis, ascending, inplace, kind='', na_position, ignore_index, key)
- by: 按by列排序，可以是list
- kind: {'quicksort', 'mergesort', 'heapsort', 'stable'} 排序方式
- na_position: nan空值放置的位置，first、last；默认last
- key: func, 可以是方法名，也可以是匿名函数，作用：在排序之前进行的操作，如案例先将字符转为小写再排序，不影响原值

In [53]:
df.sort_values(by='popularity', ascending=False, inplace=True)
df

  popularity grammer
6        7.0     PHP
7        6.6    Perl
5        6.0     SQL
4        5.0     NaN
3        4.0      GO
2        3.0    Java
1        2.0       C
0        1.0  Python

In [46]:
# 20.统计grammer列每个字符串的长度

### map(func, na_action) 对每个元素进行操作
- func: 要进行的操作
- na_action: 忽略nan的操作，ignore、None， 默认None

In [56]:
df['len'] = df['grammer'].map(lambda x : len(str(x)))
df

  popularity grammer  len
6        7.0     PHP    3
7        6.6    Perl    4
5        6.0     SQL    3
4        5.0     NaN    3
3        4.0      GO    2
2        3.0    Java    4
1        2.0       C    1
0        1.0  Python    6