In [1]:
import pandas as pd
import numpy as np

In [12]:
# 模拟一个100 * 100 正态分布的数据
data1 = pd.DataFrame(np.random.normal(1.2, 1, (100, 100)))
data2 = pd.DataFrame(np.ones((100, 100)))

In [15]:
# 加
data1.add(data2).head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.103613,3.208165,1.296037,2.191261,1.431627,1.363338,-0.398914,1.998874,2.709395,2.329431,...,2.501528,1.132998,1.711887,2.717491,4.208857,2.454423,2.653413,2.385916,3.212809,3.713859
1,2.416043,2.291859,1.829968,1.691364,2.305509,2.713317,2.899747,3.384711,2.085372,3.075296,...,0.844790,1.933295,1.036594,2.142774,2.796699,2.260142,1.468623,0.529545,1.085298,2.640101
2,2.421908,2.303101,3.300013,2.913931,2.044993,1.933572,2.874967,3.739000,0.723917,2.811260,...,2.058491,2.233202,0.834393,3.582296,3.131169,3.731579,1.661050,0.729823,2.331499,2.380214
3,2.931096,2.522044,1.590765,-0.108044,3.662045,0.224884,2.001695,2.063215,2.631352,0.740414,...,2.718917,3.429355,1.985920,2.003570,0.572768,1.831690,1.116482,2.363123,1.690438,1.182573
4,3.566722,3.219294,0.970318,1.970429,3.114303,2.285957,0.015923,0.819983,2.693992,3.192211,...,0.603903,2.076472,3.472850,1.987506,1.767474,3.487392,2.299837,1.797008,3.054156,2.232630

In [17]:
# 乘
data1.multiply(data2).head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.103613,2.208165,0.296037,1.191261,0.431627,0.363338,-1.398914,0.998874,1.709395,1.329431,...,1.501528,0.132998,0.711887,1.717491,3.208857,1.454423,1.653413,1.385916,2.212809,2.713859
1,1.416043,1.291859,0.829968,0.691364,1.305509,1.713317,1.899747,2.384711,1.085372,2.075296,...,-0.155210,0.933295,0.036594,1.142774,1.796699,1.260142,0.468623,-0.470455,0.085298,1.640101
2,1.421908,1.303101,2.300013,1.913931,1.044993,0.933572,1.874967,2.739000,-0.276083,1.811260,...,1.058491,1.233202,-0.165607,2.582296,2.131169,2.731579,0.661050,-0.270177,1.331499,1.380214
3,1.931096,1.522044,0.590765,-1.108044,2.662045,-0.775116,1.001695,1.063215,1.631352,-0.259586,...,1.718917,2.429355,0.985920,1.003570,-0.427232,0.831690,0.116482,1.363123,0.690438,0.182573
4,2.566722,2.219294,-0.029682,0.970429,2.114303,1.285957,-0.984077,-0.180017,1.693992,2.192211,...,-0.396097,1.076472,2.472850,0.987506,0.767474,2.487392,1.299837,0.797008,2.054156,1.232630

In [20]:
# 使用逻辑运算过滤数据
# 将所有小于0的数据设置为0，无效数据
data1[data1 < 0] = 0
data1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.103613,2.208165,0.296037,1.191261,0.431627,0.363338,0.000000,0.998874,1.709395,1.329431,...,1.501528,0.132998,0.711887,1.717491,3.208857,1.454423,1.653413,1.385916,2.212809,2.713859
1,1.416043,1.291859,0.829968,0.691364,1.305509,1.713317,1.899747,2.384711,1.085372,2.075296,...,0.000000,0.933295,0.036594,1.142774,1.796699,1.260142,0.468623,0.000000,0.085298,1.640101
2,1.421908,1.303101,2.300013,1.913931,1.044993,0.933572,1.874967,2.739000,0.000000,1.811260,...,1.058491,1.233202,0.000000,2.582296,2.131169,2.731579,0.661050,0.000000,1.331499,1.380214
3,1.931096,1.522044,0.590765,0.000000,2.662045,0.000000,1.001695,1.063215,1.631352,0.000000,...,1.718917,2.429355,0.985920,1.003570,0.000000,0.831690,0.116482,1.363123,0.690438,0.182573
4,2.566722,2.219294,0.000000,0.970429,2.114303,1.285957,0.000000,0.000000,1.693992,2.192211,...,0.000000,1.076472,2.472850,0.987506,0.767474,2.487392,1.299837,0.797008,2.054156,1.232630

In [22]:
# isin, query 过滤
data2.isin([1, 2, 3]).head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [24]:
# 综合统计
data1.describe()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.366273,1.281496,1.281995,1.386727,1.388666,1.191216,1.331033,1.281112,1.297383,1.291250,...,1.331932,1.269553,1.140733,1.067749,1.281063,1.148587,1.247812,1.352301,1.233533,1.268133
std,0.922005,0.858934,0.907074,0.909625,0.921577,0.957213,0.884638,0.874596,0.987375,0.894074,...,1.018065,0.883236,0.924647,0.807484,0.921849,1.009782,0.900479,0.948078,0.883636,0.799068
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.588116,0.672815,0.483717,0.678554,0.650413,0.356210,0.779735,0.653639,0.413056,0.587883,...,0.598036,0.630623,0.371420,0.409221,0.572150,0.250826,0.516525,0.698189,0.398885,0.609221
50%,1.395860,1.235972,1.235903,1.464689,1.416077,1.038745,1.244125,1.301575,1.202756,1.276200,...,1.301527,1.150828,0.943595,1.021737,1.214546,1.038291,1.194549,1.275718,1.126334,1.259031
75%,1.931992,1.816789,1.929014,2.086021,1.996487,1.842042,1.842663,1.961850,2.052403,2.023595,...,1.988825,1.828265,1.866905,1.509309,1.918861,1.771083,1.893434,2.040652,1.948817,1.838241
max,3.712311,3.327263,3.397238,3.377943,4.159670,3.972171,4.108847,3.350328,3.979928,3.495356,...,3.967880,3.477074,3.635333,3.137151,3.979026,4.419658,3.326006,4.274279,3.260922,3.795342

In [26]:
data1.cumsum(axis=1).head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.103613,3.311777,3.607815,4.799075,5.230702,5.594041,5.594041,6.592915,8.302310,9.631740,...,114.981215,115.114213,115.826100,117.543591,120.752448,122.206871,123.860284,125.246200,127.459009,130.172868
1,1.416043,2.707902,3.537871,4.229235,5.534744,7.248061,9.147808,11.532519,12.617891,14.693187,...,110.835749,111.769044,111.805637,112.948411,114.745109,116.005251,116.473874,116.473874,116.559172,118.199274
2,1.421908,2.725009,5.025022,6.938953,7.983946,8.917518,10.792485,13.531485,13.531485,15.342745,...,113.843163,115.076365,115.076365,117.658661,119.789830,122.521409,123.182460,123.182460,124.513959,125.894172
3,1.931096,3.453140,4.043905,4.043905,6.705950,6.705950,7.707645,8.770859,10.402212,10.402212,...,113.657874,116.087229,117.073149,118.076719,118.076719,118.908409,119.024891,120.388014,121.078452,121.261025
4,2.566722,4.786017,4.786017,5.756446,7.870749,9.156706,9.156706,9.156706,10.850698,13.042908,...,116.021726,117.098199,119.571048,120.558555,121.326029,123.813420,125.113257,125.910265,127.964421,129.197051

In [27]:
# 自定义运算 apply(func, axis=0)

def myfun(x):
    return x ** 2 + 1

data1.apply(myfun, axis=1)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.217961,5.875990,1.087638,2.419102,1.186302,1.132015,1.000000,1.997750,3.922031,2.767386,...,3.254588,1.017689,1.506783,3.949776,11.296764,3.115345,3.733775,2.920763,5.896524,8.365031
1,3.005178,2.668900,1.688847,1.477984,2.704354,3.935455,4.609039,6.686846,2.178033,5.306853,...,1.000000,1.871040,1.001339,2.305931,4.228126,2.587958,1.219607,1.000000,1.007276,3.689933
2,3.021823,2.698072,6.290059,4.663132,2.092010,1.871557,4.515502,8.502121,1.000000,4.280661,...,2.120404,2.520786,1.000000,7.668254,5.541880,8.461526,1.436987,1.000000,2.772890,2.904989
3,4.729131,3.316619,1.349003,1.000000,8.086483,1.000000,2.003393,2.130426,3.661310,1.000000,...,3.954675,6.901764,1.972039,2.007153,1.000000,1.691708,1.013568,2.858104,1.476705,1.033333
4,7.588064,5.925267,1.000000,1.941733,5.470277,2.653685,1.000000,1.000000,3.869609,5.805787,...,1.000000,2.158793,7.114987,1.975169,1.589016,7.187117,2.689576,1.635221,5.219557,2.519377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.589055,2.764765,7.054595,8.255683,4.934526,1.848149,1.130927,2.191635,1.006562,7.658143,...,1.386715,1.434281,1.827390,2.777922,9.297592,1.576264,3.797199,3.577515,4.082651,5.068044
96,1.089397,9.569197,8.339284,1.692943,1.189050,8.548122,5.749095,2.690932,3.510856,3.868281,...,6.103904,7.517427,1.000000,1.000000,3.664480,3.031981,1.280278,5.090096,3.818508,2.628098
97,2.002803,4.202857,1.000000,1.332517,2.019141,1.006297,2.948454,6.104919,3.005762,3.210434,...,3.015857,1.468593,6.466662,2.594524,3.058828,1.082475,1.228350,1.576552,1.734413,4.766133
98,1.000000,3.188010,4.867983,2.722091,1.462497,1.467507,1.486246,4.274885,1.000000,1.979134,...,2.948739,5.553371,1.725316,1.786375,1.000000,5.616176,3.920953,1.858556,7.420902,1.000000
99,2.516606,4.687374,1.225038,3.416120,5.663687,1.000000,7.447993,4.873336,1.630305,1.000000,...,1.000000,6.150211,8.145469,7.422086,1.121044,5.636636,1.160866,3.703004,3.752661,1.218383